@media (max-width: 1024px) {
  .container {
    max-width: 880px;
  }
  .logo {
    margin-left: 60px;
  }
  .header-img {
    margin-right: 20px;
  }
  .menu__icon {
    z-index: 25;
    display: block;
    position: relative;
    width: 40px;
    height: 17px;
    cursor: pointer;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
    background-color: white;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: white;
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: white;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #a30a27;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
    border-radius: 100px;
  }
  .menu__icon::before {
    top: 0;
    z-index: 25;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    border-radius: 100px;
  }
  .nav {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .nav._active {
    left: 0;
  }
  .header__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 170px;
    padding-left: 0;
  }
  .header__li {
    margin-bottom: 70px;
    font-size: 28px;
    margin-right: 0;
  }
  .header__link {
    font-weight: 500;
    transition: 0.5s all;
    color: white;
  }
  .header__icons {
    padding: 0;
  }
  .offer-img {
    top: -28%;
    left: 37%;
    width: 900px;
    height: 480px;
}
  .offer-btn {
    font-size: 30px;
    padding: 15px 70px;
    border-radius: 50px;
    background-color: #930c25;
    display: inline-block;
    color: #ffeff7;
    font-weight: 700;
    box-shadow: 0px 4px 50px 0px #f8c6d6;
    transition: 0.3s all;
  }
  .offer-subtitle {
    font-size: 16px;
    max-width: 600px;
    color: #941028;
    margin-bottom: 28px;
  }
  .offer-title {
    color: #941028;
    max-width: 585px;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .offer {
    margin-top: 125px;
    margin-left: 100px;
    z-index: 10;
  }
  .header {
    background: url(../img/Rectangle\ 3.png) no-repeat top;
    background-position: 100% 100%;
    background-size: cover;
    padding-bottom: 400px;
  }
  .title {
    font-size: 38px;
    font-weight: 700;
    color: #a30a27;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }
  .slider {
    overflow: hidden;
    margin: -20px;
    padding: 0 50px;
  }
  .wrapper-one {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 90px;
    padding-top: 50px;
    overflow: unset !important;
  }
  .slider-one .swiper-button-next,
  .slider-one .swiper-button-prev {
    display: none;
  }
  .slide-one {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 0px rgb(237 0 57 / 30%);
  }
  .slide-title {
    font-size: 20px;
    font-weight: 600;
    color: #a30a27;
    margin-top: 20px;
  }
  .ice-cream {
    width: 200px;
    height: 500px;
    position: absolute;
    left: -10%;
    top: -15%;
  }
  .slider-one .slide-one-active {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 0px rgba(237, 0, 57, 30%);
  }
  .slider-two {
    width: 100%;
    overflow: hidden;
    max-width: 550px;
  }
  .base__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .base-content {
    max-width: none;
  }
  .base-price-hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
  }
  .slider-four .swiper-button-next,
  .slider-four .swiper-button-prev {
    position: absolute;
    top: 58%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    outline: none;
  }
  .slider-three .swiper-button-next,
  .slider-three .swiper-button-prev {
    position: absolute;
    top: 36%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    outline: none;
  }
  .subtitle-base {
    margin-top: 10px;
  }
  .subtitle {
    font-size: 28px;
    color: #a30a27;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.wrapper-two {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
}
.slide-two-img {
  width: 204px;
  height: 251px;
  display: block;
  margin: 0 auto;
}
.slider-two .swiper-button-next::after, .slider-two .swiper-button-prev::after {
  font-size: 48px;
  color: #a30a27;
}
.slider-three .swiper-button-next::after, .slider-three .swiper-button-prev::after {
  font-size: 48px;
  color: #a30a27;
}
.slider-four .swiper-button-next::after, .slider-four .swiper-button-prev::after {
  font-size: 48px;
  color: #a30a27;
}
.base-fruits {
  margin-top: 60px;
}
.base-things {
  position: relative;
  margin-top: 40px;
}
.subtitle-2 {
  margin-bottom: 35px;
  font-size: 28px;
  color: #a30a27;
  font-weight: 600;
  text-align: center;
}
.base {
  margin-top: 70px;
  position: relative;
}
.delivery {
  margin-top: 90px;
  position: relative;
}
  .base-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -65px;
  }
  .base-btn-hidden {
    font-size: 26px;
    font-weight: 700;
    color: #ffeff7;
    padding: 10px 60px;
    border-radius: 50px;
    background-color: #a30a27;
    display: inline-block;
    margin-top: 40px;
    transition: 0.3s all;
}
  .base-hidden {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
  }
  .base-price {
    display: none;
  }
  .base-btn {
    display: none;
  }
  .slider-two .swiper-button-next,
  .slider-two .swiper-button-prev {
    position: absolute;
    top: 41%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    outline: none;
  }
  .slider-two .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    left: 82%;
  }
  .slider-two .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 12%;
}
.is-open .choices__inner{
  background: #FFF1F4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.is-open .choices__list--dropdown{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.base-price-text {
  font-size: 23px;
  color: #a30a27;
  font-weight: 600;
}
.base-price-pay {
  font-size: 24px;
  font-weight: 700;
  color: #a30a27;
}
  .head-img-2 {
    position: absolute;
    top: -145%;
    left: 90%;
    width: 200px;
    height: 500px;
  }
  .delivery-subtitle-2 {
    margin-top: 6px;
  }
  .delivery-subtitle-1 {
    margin-top: 14px;
  }
  .form-btn {
    font-size: 26px;
    color: #ffeff7;
    font-weight: 700;
    padding: 17px 164px;
    border-radius: 50px;
    display: inline-block;
    background-color: #a30a27;
    transition: 0.3s all;
    margin-bottom: 40px;
  }
  .form-name {
    border-radius: 50px;
    border: 1px solid #a30a27;
    padding: 22px 280px 17px 20px;
    margin-bottom: 35px;
  }
  .form-subtitle {
    color: #a30a27;
    font-weight: 500;
    max-width: 350px;
    text-align: center;
    font-size: 20px;
  }
  .form-title {
    font-size: 38px;
    font-weight: 700;
    color: #a30a27;
  }
  .check__box {
    background: url(../img/Rectangle\ 19.png) no-repeat center;
    background-size: 26px 26px;
    width: 27px;
    height: 27px;
    position: absolute;
    cursor: pointer;
    transition: 0.2s all;
    margin-left: -50px;
  }
  .check__input:checked + .check__box {
    background: url(../img/checkbox.png) no-repeat center;
    background-size: 26px 26px;
    width: 27px;
    height: 27px;
    position: absolute;
    cursor: pointer;
  }
  .check {
    padding-left: 100px;
    font-size: 12px;
    max-width: 474px;
    color: #a30a27;
    font-weight: 500;
  }
  .form__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 140px;
    box-shadow: 0px 0px 50px 0px rgb(163 10 39 / 25%);
    border-radius: 90px;
    margin-top: 325px;
    margin-bottom: 500px;
  }
  .form-section__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
  }
  .form-section {
    background: url(../img/Group\ 2.png) no-repeat top;
    background-size: cover;
    margin-top: 0px;
    background-position: 30% 3%;
  }
  .offer-img-2 {
    position: absolute;
    top: 63%;
    left: -4%;
    width: 950px;
    height: 520px;
  }
  .footer-img {
    width: 32px;
    height: 32px;
    margin-right: 35px;
  }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
  }
  .footer__li{
    display: none;
  }
  .footer-logo{
    margin-left: 0;
  }
  .slide-btn {
    font-size: 20px;
    font-weight: 700;
    color: #ffeff7;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #a30a27;
    display: inline-block;
    margin-top: 15px;
    transition: 0.3s all;
}
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .header__li {
    margin-bottom: 60px;
    font-size: 26px;
    margin-right: 0;
  }
  .offer-img {
    top: 31%;
    left: 42%;
    width: 660px;
    height: 334px;
}
  .logo {
    margin-left: 65px;
  }
  .offer-btn {
    font-size: 28px;
    padding: 12px 60px;
    border-radius: 50px;
    background-color: #930c25;
    display: inline-block;
    color: #ffeff7;
    font-weight: 700;
    box-shadow: 0px 4px 50px 0px #f8c6d6;
    transition: 0.3s all;
}
  .offer-subtitle {
    font-size: 16px;
    max-width: 450px;
    color: #941028;
    margin-bottom: 24px;
  }
  .offer-title {
    color: #941028;
    max-width: 500px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .wrap-slide-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
}
.slide-one {
  flex-shrink: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 50px;
  transition: 0.3s all;
}
  .head-img-2 {
    position: absolute;
    top: -145%;
    left: 90%;
    width: 150px;
    height: 420px;
}
.ice-cream {
  width: 150px;
  height: 420px;
  position: absolute;
  left: -9%;
  top: -11%;
}
.production {
  position: relative;
  margin-top: -100px;
}
  .title {
    font-size: 34px;
    font-weight: 700;
    color: #a30a27;
    display: block;
    text-align: center;
  }
  .subtitle {
    font-size: 28px;
    color: #a30a27;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}
  .delivery {
    margin-top: 95px;
    position: relative;
  }
  .delivery-img-3 {
    width: 125px;
    height: 96px;
  }
  .delivery-img-2 {
    width: 145px;
    height: 96px;
  }
  .delivery-img {
    width: 135px;
    height: 85px;
  }
  .delivery-subtitle {
    color: #a30a27;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    max-width: 205px;
  }
  .form-title {
    font-size: 34px;
    font-weight: 700;
    color: #a30a27;
  }
  .form-title {
    font-size: 34px;
    font-weight: 700;
    color: #a30a27;
  }
  .form-subtitle {
    color: #a30a27;
    font-weight: 500;
    max-width: 300px;
    text-align: center;
    font-size: 16px;
  }
  .form-name {
    border-radius: 50px;
    border: 1px solid #a30a27;
    padding: 18px 170px 13px 25px;
    margin-bottom: 28px;
  }
  .form-btn {
    font-size: 24px;
    color: #ffeff7;
    font-weight: 700;
    padding: 11px 120px;
    border-radius: 50px;
    display: inline-block;
    background-color: #a30a27;
    transition: 0.3s all;
    margin-bottom: 40px;
  }
  .form-subtitle {
    color: #a30a27;
    font-weight: 500;
    max-width: 300px;
    text-align: center;
    font-size: 16px;
  }
  .check {
    padding-left: 100px;
    font-size: 12px;
    max-width: 430px;
    color: #a30a27;
    font-weight: 500;
  }
  .form__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 65px;
    box-shadow: 0px 0px 50px 0px rgb(163 10 39 / 25%);
    border-radius: 90px;
    margin-top: 270px;
    margin-bottom: 420px;
  }
  .form__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 65px;
    box-shadow: 0px 0px 50px 0px rgb(163 10 39 / 25%);
    border-radius: 90px;
    margin-top: 250px;
    margin-bottom: 400px;
}
  .offer-img-2 {
    position: absolute;
    top: 69%;
    left: -5%;
    width: 700px;
    height: 360px;
}
  .form-section__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 0px;
  }
  .offer-img-2 {
    position: absolute;
    top: 67%;
    left: -5%;
    width: 765px;
    height: 400px;
  }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
  }
  .footer-img {
    width: 32px;
    height: 32px;
    margin-right: 25px;
  }
  .base-price-hidden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
.slider-one{
  position: relative;
  }
  .slider-two{
    position: relative;
  }
  .slider-three{
    position: relative;
  }
  .slider-four{
    position: relative;
  }
  .slider-one .swiper-pagination-bullet {
    background: #941028;
    opacity: 1;
    padding: 5px;
    outline: none;
    visibility: visible;
  }
  .wrapper-two {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    margin-top: 15px;
}
.wrapper-one {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
  padding-top: 50px;
  overflow: unset !important;
  padding-bottom: 80px;
}
.wrapper-three {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: unset !important;
  padding: 30px 0;
  margin-bottom: 30px;
}
.wrapper-four {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: unset !important;
  padding: 30px 0;
  margin-bottom: 30px;
}
  .slider-one .swiper-pagination-bullet-active {
    border: 1px solid #941028;
    background-color: #fff;
    padding: 4.5px;
    visibility: visible;
  }
  .slider-two .swiper-pagination-bullet {
    background: #941028;
    opacity: 1;
    padding: 5px;
    outline: none;
    visibility: visible;
  }
  .slider-two .swiper-pagination-bullet-active {
    border: 1px solid #941028;
    background-color: #fff;
    padding: 4.5px;
    visibility: visible;
  }
  .slider-three .swiper-pagination-bullet {
    background: #941028;
    opacity: 1;
    padding: 5px;
    outline: none;
    visibility: visible;
  }
  .slider-three .swiper-pagination-bullet-active {
    border: 1px solid #941028;
    background-color: #fff;
    padding: 4.5px;
    visibility: visible;
  }
  .slider-four .swiper-pagination-bullet {
    background: #941028;
    opacity: 1;
    padding: 5px;
    outline: none;
    visibility: visible;
  }
  .slider-four .swiper-pagination-bullet-active {
    border: 1px solid #941028;
    background-color: #fff;
    padding: 4.5px;
    visibility: visible;
  }
.slider-two .swiper-button-next, .swiper-rtl .swiper-button-prev {
  display: none;
}
.slider-two .swiper-button-prev, .swiper-rtl .swiper-button-next {
display: none;
}
.slider-three .swiper-button-next, .swiper-rtl .swiper-button-prev {
  display: none;
}
.slider-three .swiper-button-prev, .swiper-rtl .swiper-button-next {
display: none;
}
.slider-four .swiper-button-next, .swiper-rtl .swiper-button-prev {
  display: none;
}
.slider-four .swiper-button-prev, .swiper-rtl .swiper-button-next {
display: none;
}
}

@media (max-width: 640px) {
  .header-img {
    width: 27px;
    height: 27px;
  }
  .menu__icon {
    z-index: 25;
    display: block;
    position: relative;
    width: 35px;
    height: 16px;
    cursor: pointer;
}
.slide-title {
  font-size: 17px;
  font-weight: 600;
  color: #a30a27;
  margin-top: 20px;
}
.offer-img {
  top: 18%;
  left: 35%;
  width: 670px;
  height: 330px;
}
.offer-btn {
  font-size: 24px;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: #930c25;
  display: inline-block;
  color: #ffeff7;
  font-weight: 700;
  box-shadow: 0px 4px 50px 0px #f8c6d6;
  transition: 0.3s all;
}
.offer-subtitle {
  font-size: 14px;
  max-width: 450px;
  color: #941028;
  margin-bottom: 16px;
}
.offer-title {
  color: #941028;
  max-width: 500px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer {
  margin-top: 110px;
  margin-left: 90px;
  z-index: 10;
}

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #a30a27;
  }
  .slider-one .slide-one-active {
    transform: scale(1);
    box-shadow: 0px 0px 25px 0px rgb(237 0 57 / 30%);
    
}
.wrap-slide-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 20px;
}
.slide-btn {
  font-size: 20px;
  font-weight: 700;
  color: #ffeff7;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #a30a27;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s all;
}
.slide-one {
  flex-shrink: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 50px;
  transition: 0.3s all;
  transform: scale(1);
}
.slide-subtitle {
  margin: 13px 0;
  font-size: 12px;
  color: #a30a27;
  text-align: left;
  max-width: 300px;
}
.slider-one{
position: relative;
}
.slider-two{
  position: relative;
}
.slider-three{
  position: relative;
}
.slider-four{
  position: relative;
}
.slider-one .swiper-pagination-bullet {
  background: #941028;
  opacity: 1;
  padding: 5px;
  outline: none;
  visibility: visible;
}
.slider-one .swiper-pagination-bullet-active {
  border: 1px solid #941028;
  background-color: #fff;
  padding: 4.5px;
  visibility: visible;
}
.slider-two .swiper-pagination-bullet {
  background: #941028;
  opacity: 1;
  padding: 5px;
  outline: none;
  visibility: visible;
}
.slider-two .swiper-pagination-bullet-active {
  border: 1px solid #941028;
  background-color: #fff;
  padding: 4.5px;
  visibility: visible;
}
.slider-three .swiper-pagination-bullet {
  background: #941028;
  opacity: 1;
  padding: 5px;
  outline: none;
  visibility: visible;
}
.slider-three .swiper-pagination-bullet-active {
  border: 1px solid #941028;
  background-color: #fff;
  padding: 4.5px;
  visibility: visible;
}
.slider-four .swiper-pagination-bullet {
  background: #941028;
  opacity: 1;
  padding: 5px;
  outline: none;
  visibility: visible;
}
.slider-four .swiper-pagination-bullet-active {
  border: 1px solid #941028;
  background-color: #fff;
  padding: 4.5px;
  visibility: visible;
}
.is-open .choices__inner{
  background: #FFF1F4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.is-open .choices__list--dropdown{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
  .slider-two .swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none;
}
.slider-two .swiper-button-prev, .swiper-rtl .swiper-button-next {
  display: none;
}
.slider-two .swiper-pagination-bullet {
  background: #941028;
  opacity: 1;
  padding: 5px;
  outline: none;
}
.slider-two .swiper-pagination-bullet-active {
  border: 1px solid #941028;
  background-color: #fff;
  padding: 4.5px;
}
.slider-three .swiper-button-next, .swiper-rtl .swiper-button-prev {
  display: none;
}
.slider-three .swiper-button-prev, .swiper-rtl .swiper-button-next {
display: none;
}
.slider-four .swiper-button-next, .swiper-rtl .swiper-button-prev {
  display: none;
}
.slider-four .swiper-button-prev, .swiper-rtl .swiper-button-next {
display: none;
}
.base {
  margin-top: 40px;
  position: relative;
}
.wrapper-one {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
  padding-top: 30px;
  overflow: unset !important;
  padding-bottom: 60px;
}
.wrapper-two {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  margin-top: 15px;
}
.wrapper-three {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: unset !important;
  padding: 30px 0;
  margin-bottom: 30px;
}
.wrapper-four {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: unset !important;
  padding: 30px 0;
  margin-bottom: 30px;
}
.title {
  font-size: 30px;
  font-weight: 700;
  color: #a30a27;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.delivery-subtitle {
  color: #a30a27;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  max-width: 190px;
}
.delivery-img-2 {
  width: 130px;
  height: 85px;
}
.delivery-img {
  width: 115px;
  height: 70px;
}
.delivery-img-3 {
  width: 110px;
  height: 85px;
}
.subtitle {
  font-size: 24px;
  color: #a30a27;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.subtitle-2 {
  margin-bottom: 35px;
  font-size: 24px;
  color: #a30a27;
  font-weight: 600;
  text-align: center;
}
.ice-cream {
  width: 150px;
  height: 420px;
  position: absolute;
  left: -9%;
  top: -11%;
  display: none;
}
.head-img-2 {
  position: absolute;
  top: -101%;
  left: 86%;
  width: 150px;
  height: 370px;
  display: none;
}
.base-price-hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}
.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px 0 10px 14px;
  font-size: 14px;
}
}


@media(max-width:560px){
  .offer-img {
    top: 27%;
    left: 33%;
    width: 600px;
    height: 310px;
}
.header__li {
  margin-bottom: 50px;
  font-size: 24px;
  margin-right: 0;
  font-weight: 400;
}
.slide-btn {
  font-size: 22px;
  font-weight: 700;
  color: #ffeff7;
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #a30a27;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s all;
}
.header__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 0;
}
.offer-btn {
  font-size: 22px;
  padding: 10px 43px;
  border-radius: 50px;
  background-color: #930c25;
  display: inline-block;
  color: #ffeff7;
  font-weight: 700;
  box-shadow: 0px 4px 50px 0px #f8c6d6;
  transition: 0.3s all;
}
.offer-subtitle {
  font-size: 12px;
  max-width: 370px;
  color: #941028;
  margin-bottom: 16px;
}
.offer-title {
  color: #941028;
  max-width: 500px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer {
  margin-top: 100px;
  margin-left: 60px;
  z-index: 10;
}
.title {
  font-size: 26px;
  font-weight: 700;
  color: #a30a27;
  margin-bottom: 40px;
  display: block;
  text-align: center;
}
.subtitle {
  font-size: 22px;
  color: #a30a27;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.wrapper-three {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: unset !important;
  padding: 30px 0;
  margin-bottom: 40px;
}
.slide-three {
  flex-shrink: 0;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.2);
}
.wrapper-four {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: unset !important;
  padding: 30px 0;
  margin-bottom: 40px;
}
.slide-four {
  flex-shrink: 0;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.2);
}
.subtitle-2 {
  margin-bottom: 35px;
  font-size: 22px;
  color: #a30a27;
  font-weight: 600;
  text-align: center;
}
.base-price-hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.delivery-subtitle {
  color: #a30a27;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  max-width: 235px;
}
.delivery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.delivery__item:last-child {
  margin-bottom: 0;
}
.delivery__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-shadow: 0px 0px 50px 0px rgb(163 10 39 / 25%);
  border-radius: 90px;
  margin-top: 250px;
  margin-bottom: 400px;
}
.form-title {
  font-size: 32px;
  font-weight: 700;
  color: #a30a27;
}
.form-subtitle {
  color: #a30a27;
  font-weight: 500;
  max-width: 260px;
  text-align: center;
  font-size: 14px;
}
.form-name {
  border-radius: 50px;
  border: 1px solid #a30a27;
  padding: 16px 150px 11px 25px;
  margin-bottom: 28px;
}
.form-btn {
  font-size: 22px;
  color: #ffeff7;
  font-weight: 700;
  padding: 11px 114px;
  border-radius: 50px;
  display: inline-block;
  background-color: #a30a27;
  transition: 0.3s all;
  margin-bottom: 40px;
}
.offer-img-2 {
  position: absolute;
  top: 67%;
  left: -14%;
  width: 700px;
  height: 360px;
}
.base-content {
  max-width: none;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}
}


@media(max-width:480px){
  .logo {
    margin-left: 0px;
}
.header__li {
  margin-bottom: 50px;
  font-size: 22px;
  margin-right: 0;
  font-weight: 400;
}
.header__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 0;
}
.menu__icon {
  z-index: 25;
  display: block;
  position: relative;
  width: 35px;
  height: 16px;
  cursor: pointer;
  order: 2;
}
.header__icons {
  padding: 0;
  display: none;
}
.container {
  max-width: 400px;
}
.offer-img {
  top: 53%;
  left: 20%;
  width: 500px;
  height: 240px;
}
.offer-btn {
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 50px;
  background-color: #930c25;
  display: inline-block;
  color: #ffeff7;
  font-weight: 700;
  box-shadow: 0px 4px 50px 0px #f8c6d6;
  transition: 0.3s all;
}
.offer-subtitle {
  font-size: 11px;
  max-width: 450px;
  color: #941028;
  margin-bottom: 16px;
}
.offer-title {
  color: #941028;
  max-width: 500px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer {
  margin-top: 75px;
  margin-left: 25px;
  z-index: 10;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: #a30a27;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}
.slide-title {
  font-size: 19px;
  font-weight: 600;
  color: #a30a27;
  margin-top: 20px;
}
.wrap-slide-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
}
.subtitle {
  font-size: 18px;
  color: #a30a27;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: -10px;
  text-align: center;
}
.subtitle-2 {
  font-size: 20px;
  color: #a30a27;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.base-price-hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 45px;
  box-shadow: 0px 0px 50px 0px rgb(163 10 39 / 25%);
  border-radius: 90px;
  margin-top: 250px;
  margin-bottom: 320px;
}
.form-title {
  font-size: 28px;
  font-weight: 700;
  color: #a30a27;
}
.form-subtitle {
  color: #a30a27;
  font-weight: 500;
  max-width: 225px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
}
.form-name {
  border-radius: 50px;
  border: 1px solid #a30a27;
  padding: 13px 95px 13px 25px;
  margin-bottom: 22px;
  width: 100%;
}
.form-btn {
  font-size: 22px;
  color: #ffeff7;
  font-weight: 700;
  padding: 11px 85px;
  border-radius: 50px;
  display: inline-block;
  background-color: #a30a27;
  transition: 0.3s all;
  margin-bottom: 30px;
}
.base-choice-text {
  font-size: 16px;
  font-weight: 500;
  color: #a30a27;
}
.about-plus {
  padding: 9px;
  background: url(../img/plus.png) no-repeat center;
  background-size: cover;
}
.base-btn-text {
  font-weight: 600;
  color: #a30a27;
  margin: 0px 8px;
  font-size: 18px;
  border: none;
  cursor: initial;
  background: transparent;
  font-family: "Montserrat", sans-serif;
}
.about-minus {
  padding: 9px;
  background: url(../img/minus.png) no-repeat center;
  background-size: cover;
}
.base-content {
  max-width: none;
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
}
.form-btn {
  font-size: 22px;
  color: #ffeff7;
  font-weight: 700;
  padding: 11px 85px;
  border-radius: 50px;
  display: inline-block;
  background-color: #a30a27;
  transition: 0.3s all;
  margin-bottom: 30px;
}
.check {
  padding-left: 65px;
  font-size: 10px;
  max-width: 336px;
  color: #a30a27;
  font-weight: 500;
}
.offer-img-2 {
  position: absolute;
  top: 72%;
  left: -25%;
  width: 520px;
  height: 260px;
}
.footer-img {
  width: 28px;
  height: 28px;
  margin-right: 25px;
}
.delivery__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
}


@media(max-width:360px){
  .check {
    padding-left: 65px;
    font-size: 8px;
    max-width: 320px;
    color: #a30a27;
    font-weight: 500;
}
.header__li {
  margin-bottom: 40px;
  font-size: 20px;
  margin-right: 0;
  font-weight: 400;
}
.check__box {
  background: url(../img/Rectangle\ 19.png) no-repeat center;
  background-size: 26px 26px;
  width: 27px;
  height: 27px;
  position: absolute;
  cursor: pointer;
  transition: 0.2s all;
  margin-left: -40px;
}
.form-btn {
  font-size: 20px;
  color: #ffeff7;
  font-weight: 700;
  padding: 8px 72px;
  border-radius: 50px;
  display: inline-block;
  background-color: #a30a27;
  transition: 0.3s all;
  margin-bottom: 25px;
}
.form-name {
  border-radius: 50px;
  border: 1px solid #a30a27;
  padding: 13px 55px 8px 25px;
  margin-bottom: 22px;
}
.form-subtitle {
  color: #a30a27;
  font-weight: 500;
  max-width: 195px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 25px;
}
.form-title {
  font-size: 24px;
  font-weight: 700;
  color: #a30a27;
}
.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 30px;
  box-shadow: 0px 0px 50px 0px rgb(163 10 39 / 25%);
  border-radius: 90px;
  margin-top: 200px;
  margin-bottom: 290px;
}
.form-name::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #941028;
}
.offer-img-2 {
  position: absolute;
  top: 72%;
  left: -25%;
  width: 460px;
  height: 230px;
}
.subtitle-2 {
  font-size: 20px;
  color: #a30a27;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.slide-btn {
  font-size: 18px;
  font-weight: 700;
  color: #ffeff7;
  padding: 10px 35px;
  border-radius: 50px;
  background-color: #a30a27;
  display: inline-block;
  margin-top: 15px;
  transition: 0.3s all;
}
.slide-choice {
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
  background-color: #ffeff7;
}
.slide-price-text {
  font-size: 16px;
  font-weight: 700;
  color: #a30a27;
}
.slide-subtitle {
  margin: 15px 0;
  font-size: 11px;
  color: #a30a27;
  text-align: left;
  max-width: 300px;
}
.slide-title {
  font-size: 16px;
  font-weight: 600;
  color: #a30a27;
  margin-top: 20px;
}
.footer-img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.footer-img-2 {
  margin-right: 0;
}
.footer__icons{
  padding: 0;
}
.offer-img {
  top: 57%;
  left: 16%;
  width: 400px;
  height: 200px;
}
.offer-btn {
  font-size: 17px;
  padding: 7px 36px;
  border-radius: 50px;
  background-color: #930c25;
  display: inline-block;
  color: #ffeff7;
  font-weight: 700;
  box-shadow: 0px 4px 50px 0px #f8c6d6;
  transition: 0.3s all;
}
.offer-subtitle {
  font-size: 10px;
  max-width: 400px;
  color: #941028;
  margin-bottom: 16px;
  font-weight: 500;
}
.offer-title {
  color: #941028;
  max-width: 500px;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer {
  margin-top: 65px;
  margin-left: 18px;
  z-index: 10;
}
.base-price-hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
}
.base-btn-hidden {
  font-size: 22px;
  font-weight: 700;
  color: #ffeff7;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: #a30a27;
  display: inline-block;
  margin-top: 30px;
  transition: 0.3s all;
}
.base-price-text {
  font-size: 18px;
  color: #a30a27;
  font-weight: 600;
}
.base-price-pay {
  font-size: 20px;
  font-weight: 700;
  color: #a30a27;
}
.subtitle {
  font-size: 18px;
  color: #a30a27;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: -10px;
  text-align: center;
}
.subtitle-2 {
  font-size: 18px;
}
.choices__list--single {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  width: 100%;
}
.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px 0 10px 16px;
  font-size: 14px;
}
}
